@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
  font-family: 'Source Code Pro', monospace;
}

html, body {
    background-color: #FFFFFF;
    margin: 0;
}

h1 {
  text-align: center;
}

h1, h2 {
    background-color: #EEEEEE;
    color: #32CD32;
    margin: 0;
    padding: 0.5em 1em;
}

div {
    border: solid 1px #EEEEEE;
    margin: 1em;
    padding: 0;
}

pre {
  display: block;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
  /* white-space: pre-wrap; */
  /* word-break: break-all; */
}
